.text-bg {
    background-color: #2F2C63;
    min-width: 150px;
    border-radius: 4px;
    &-small{
        border-radius: 3px;
    }
}

.legend-league {
    &-home {
        background-image: url("/Images/Clash of Clans/Home/Legend League.png");
    }
    &-builder {
        background-image: url("/Images/Clash of Clans/Builder/Legend League.png");
    }
    &.small {
        height: 45px;
        width: 45px;
        padding-top: 11px;
    }
    background-size: cover;
    background-repeat: none;
    height: 60px;
    width: 60px;
    padding-top: 16px;
    font-size: 1vw;
}