@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@font-face {
  font-family: "Supercell-Magic";
  src: url("./Fonts/Supercell-Magic.eot");
  src: url("./Fonts/Supercell-Magic.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/Supercell-Magic.woff") format("woff"),
    url("./Fonts/Supercell-Magic.ttf") format("truetype"),
    url("./Fonts/Supercell-Magic.svg#Supercell-Magic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Clash Text";
  src: url("./Fonts/ClashTextRegular.eot");
  src: url("./Fonts/ClashTextRegular.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/ClashTextRegular.woff") format("woff"),
    url("./Fonts/ClashTextRegular.ttf") format("truetype"),
    url("./Fonts/ClashTextRegular.svg#ClashTextRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "CCBackBeat";
  src: url("./Fonts/CCBackBeat-Light.eot");
  src: url("./Fonts/CCBackBeat-Light.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/CCBackBeat-Light.woff") format("woff"),
    url("./Fonts/CCBackBeat-Light.ttf") format("truetype"),
    url("./Fonts/CCBackBeat-Light.svg#CCBackBeat-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "BadaBoom BB";
  src: url("./Fonts/BadaBoomBB.eot");
  src: url("./Fonts/BadaBoomBB.eot?#iefix") format("embedded-opentype"),
    url("./Fonts/BadaBoomBB.woff") format("woff"),
    url("./Fonts/BadaBoomBB.ttf") format("truetype"),
    url("./Fonts/BadaBoomBB.svg#BadaBoomBB") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}