/* Absolute positioning */
.tooltip-tip {
    @apply 
    absolute 
    rounded-md 
    left-1/2 
    -translate-x-1/2 
    p-2 
    text-sm 
    z-50 
    whitespace-nowrap;
    --tooltip-text-color: white;
    --tooltip-background-color: black;
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);

    /* CSS border triangles */
    &::before {
        content: " ";
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: var(--tooltip-arrow-size);
        margin-left: calc(var(--tooltip-arrow-size) * -1);
    }

    /* Absolute positioning */
    &.top {
        top: calc(var(--tooltip-margin) * -1);
    }

    /* CSS border triangles */
    &.top::before {
        top: 100%;
        border-top-color: var(--tooltip-background-color);
    }

    /* Absolute positioning */
    &.right {
        left: calc(100% + var(--tooltip-margin));
        top: 50%;
        transform: translateX(0) translateY(-50%);
    }

    /* CSS border triangles */
    &.right::before {
        left: calc(var(--tooltip-arrow-size) * -1);
        top: 50%;
        transform: translateX(0) translateY(-50%);
        border-right-color: var(--tooltip-background-color);
    }

    /* Absolute positioning */
    &.bottom {
        bottom: calc(var(--tooltip-margin) * -1);
    }

    /* CSS border triangles */
    &.bottom::before {
        bottom: 100%;
        border-bottom-color: var(--tooltip-background-color);
    }

    /* Absolute positioning */
    &.left {
        left: auto;
        right: calc(100% + var(--tooltip-margin));
        top: 50%;
        transform: translateX(0) translateY(-50%);
    }

    /* CSS border triangles */
    &.left::before {
        left: auto;
        right: calc(var(--tooltip-arrow-size) * -2);
        top: 50%;
        transform: translateX(0) translateY(-50%);
        border-left-color: var(--tooltip-background-color);
    }
}